/* reset */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* CSS BEGIN */
  .signup {
    background-image: linear-gradient(to bottom, rgba(51, 54, 56, 0.8), rgba(38, 43, 37, 0.9)), 
    url('../../assets/signup.jpg');
    background-size: 100vw 100vh;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    min-height: 100vh;
  }

  .signup__header {
    display: flex;
    justify-content: center;
  }

  .signup__header--p {
    margin-bottom: 75px;
    width: 10%;
    color: #ffffff;
    color: rgb(99, 253, 181);
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    visibility: visible;
    animation: rotate .6s ease;
    animation-fill-mode: forwards;
  }

  .signup__header--sentence {
    margin-bottom: 75px;
    margin-left: -50px;
    width: 80%;
    text-align: center;
    color: rgb(99, 253, 181);
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    opacity: 0;
    animation: fade-in-right_to_left .6s ease-in .6s;
    animation-fill-mode: forwards;
  }

  .signup__form {
    background-color: #24292c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    min-width: 400px;
    padding: 30px;
    border-radius: 30px;
    opacity: 0;
    animation: fade-in .6s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
  }

  .signup__form--names {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
  }

  .signup__form--names input {
      height: 40px;
      width: 100%;
      margin-bottom: 20px;
      border: none;
      outline: none;
      border-bottom: 3px solid green;
      background-color: #355246;
  }

  .firstName-input {
    position: relative;
  }

  .firstName-label {
    order: -1;
    position: absolute;
    transform: translate(-80px, 10px);
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(99, 253, 181);
  }

  .firstName-input:focus + label {
    color: green;
    font-size: 10px;
    transform: translate(-115px, -15px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    transition: all .3s ease-in-out;
  }

  .lastName-input {
    position: relative;
  }

  .lastName-label {
    order: -1;
    position: absolute;
    transform: translate(-83px, 65px);
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(99, 253, 181);
  }

  .lastName-input:focus + label {
    color: green;
    font-size: 10px;
    transform: translate(-118px, 45px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    transition: all .3s ease-in-out;
  }

  .signup__form--email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .signup__form--email input {
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 3px solid green;
    background-color: #355246;
  }

  .email-label {
    order: -1;
    position: absolute;
    transform: translate(-115px, 10px);
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(99, 253, 181);
  }

  .email-input {
      position: relative;
  }

  .email-input:focus + label {
    color: green;
    font-size: 10px;
    transform: translate(-138px, -15px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    transition: all .3s ease-in-out;
  }

  .signup__form--passwords {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .signup__form--passwords input {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid green;
    background-color: #355246;
  }
 
  .password-label {
    order: -1;
    position: absolute;
    transform: translate(-90px, 10px);
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(99, 253, 181);
  }

  .password-input {
    position: relative;
  }

  .password-input:focus + label {
    color: green;
    font-size: 10px;
    transform: translate(-120px, -15px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    transition: all .3s ease-in-out;
  }

  .retypePassword-label {
    order: -1;
    position: absolute;
    transform: translate(-30px, 65px);
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(99, 253, 181);
  }
  .retypePassword-input {
    position: relative;
  }

  .retypePassword-input:focus + label {
    color: green;
    font-size: 10px;
    transform: translate(-85px, 45px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    transition: all .3s ease-in-out;
  }

  .signup__form input:focus {
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(99, 253, 181);
    padding-left: 10px;
  }

  @keyframes fade-in {
    0% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }
  }

  @keyframes fade-in-right_to_left {
    0% {
      margin-left: 50%;
      opacity: 0;
    }
    33.3% {
      margin-left: 25%;
    }
    66.6% {
      margin-left: 0%;
    }
    100% {
      margin-left: -10%;
      opacity: 1;
    }
  }

  @keyframes rotate {
      0% {
          transform: rotateY(0deg);
          font-size: 180px;
          margin-left: 70%;
      }
      12.5% {
          transform: rotateY(45deg);
          margin-left: 60%;
      }
      25% {
          transform: rotateY(90deg);
          margin-left: 50%;
      }
      37.5% {
          transform: rotateY(135deg);
          margin-left: 40%;
      }
      50% {
          transform: rotateY(180deg);
          font-size: 230px;
          margin-left: 30%;
      }
      62.5% {
          transform: rotateY(225deg);
          margin-left: 22%;
      }
      75% {
          transform: rotateY(270deg);
          margin-left: 11%;
      }
      87.5% {
          transform: rotateY(315deg);
          margin-left: 6%;
      }
      100% {
          transform: rotateY(360deg);
          font-size: 70px;
          margin-left: 0%;
      }
  }

  
